*{
	box-sizing: border-box;
}
body{

	background-color: #f7e2b2;
	margin: 0;
	padding: 0;
}
.box{
	padding: 15px;
	float: left;
	width: 25%;
	border: 1px solid none;
	border-top-width: 5px;

}
#banner{
	width: 1000px;
}

h1{
	font-size: 50px;
	color:orange;
	text-align: center;
}
.menu{
	float:left;
	text-decoration: none;
}
.pro{
	text-decoration: none;
}
.menu a:link{
background-color: none;
}
.menu a:hover{
background-color: black;
color: white;
font-weight: bold;
}
#mainmenu:hover{
background-color: black;
color: white;	
}
#isa{
	margin: auto;
	max-width: 1000px;
}
#smallimg{
    width: 1000px;
    padding: 0px;
	float: left;
	border: 0px solid none;
	border-top-width: 0px;
}


img.box{
height: 363px;
}

.box:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
